<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rendering Lists and Leveraging Computed Properties and Custom Methods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="app">
    <h3>Open Tasks</h3>
    <ul>
        <li v-for="task in open">
            {{task.text}}
            <button @click="toggle(task)">Mark as done</button>
        </li>
    </ul>
    <button @click="addTask">Add new task</button>
    <hr/>
    <h3>✅ Completed Tasks</h3>
    <ul>
        <li v-for="task in completed">
            {{task.text}}
            <button @click="toggle(task)">Mark as open</button>
        </li>
    </ul>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  const vm = new Vue({
    el: '#app',
    data: {
      tasks: [
        {text: 'Learning Vue', done: false},
        {text: 'Get Breakfast', done: true},
        {text: 'Buy Milk', done: true}
      ]
    },
    computed: {
      open() {
        return this.tasks.filter(t => !t.done)
      },
      completed() {
        return this.tasks.filter(t => t.done)
      }
    },
    methods: {
      toggle(task) {
        task.done = !task.done;
      },
      addTask() {
        const task = {text: 'New', done: false};
        this.tasks.push(task);
      }
    }
  });
</script>
</body>
</html>