<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exploring the Vue Lifecycle and Vue Components</title>
    <style>
        .fruit {
            display: inline-block;
            position: relative;
            margin: 10px;
            border: 5px solid #fff;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
            width: 200px;
            height: 200px;
        }
        .fruit.active {
            background: #d4bbbb;
        }
        .fruit span {
            background: #d65555;
            color: #fff;
            display: inline-block;
            position: absolute;
            top: 0;
            padding: 5px;
            left: 0;
        }
        .fruit p {
            text-align: center;
            font-size: 2em;
            line-height: 100px;
        }
    </style>
</head>
<body>
<div id="app" data-url="fake/url">
    <h1>Favorite Fruits</h1>

    <fruit v-for="fruit in fruits" :key="fruit" :name="fruit" @clicked="log"></fruit>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://vuejs.org/js/vue.js"></script>
<script>
  function fakeAjax(url) {
    console.log('url', url);
    return Promise.resolve(['Pear', 'Orange', 'Plum']);
  }

  Vue.component('fruit', {
    data() {
      return {
        active: false
      }
    },
    props: {
      name: String
    },
    computed: {
      activeClass() {
        return this.active ? ['active'] : [];
      }
    },
    template: `
        <div class="fruit" :class="activeClass" @click="toggleActive">
            <p>{{name}}</p>
        </div>
    `,
    methods: {
      toggleActive() {
        this.active = !this.active;
        this.$emit('clicked', this.name);
      }
    }
  });

  const vm = new Vue({
    el: '#app',
    data: {
      fruits: []
    },
    methods: {
      log(fruit) {
        console.log(`Clicked on ${fruit}`)
      }
    },
    async beforeMount() {
      this.fruits = await fakeAjax(this.$el.dataset.url);
    }
  });
</script>
</body>
</html>
