<template>
    <div>
        <h1>Create new Contact</h1>
        <Form submitButtonText="Create Contact" @submit="submit"/>
    </div>
</template>

<script>
import Form from './Form';
import { mapActions } from 'vuex';
import { extractDetails } from '@/lib/transformers';

export default {
  name: 'New',
  components: { Form },
  data() {
    return {};
  },
  methods: {
    ...mapActions(['addContact']),
    submit(data) {
      this.addContact(extractDetails(data));
    }
  }
};
</script>

<style scoped>
</style>
